html,
body {
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

.judul1 {
    color: white;
    text-align: center;
    width: auto;
    padding-top: 3em;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: black;
    background-image: url('/assets/main-bg.jpg');
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    width: auto;
    background-position: center;
    background-position-y: -50px;
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.paragraf1 {
    padding-top: 50px;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
}

nav li {
    font-size: 8px;
    font-family: "Open Sans";
    font-weight: bold;
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

nav {
    top: 0;
    padding: 5px;
    margin-left: auto;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue";
    letter-spacing: 5px;
}

.text-center {
    text-align: center;
    padding: 20px;
}

.button {
    font-size: 25px;
    background-color: #ffc107;
    border: none;
    height: 80px;
    width: 180px;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 15px;
}

.header {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;

}

.scroll-to-bottom {
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;
    text-align: center;
    color: white;
    animation: mymove 2s infinite;
}

.scroll-to-bottom:before {
    /*content: "\f22c";*/
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    font-family: "Open Sans";
}

@keyframes mymove {
    from {
        bottom: 50px;
    }
    to {
        bottom: 70px;
    }
}

.hero1 {
    background-image: url("/assets/the-games-bg.jpg");
    width: auto;
    background-size: cover;
    position: relative;
}

.text1 {
    color: white;
    font-family: "Open Sans";
    padding: 10%;
    font-weight: bold;
}

#carouselExampleCaptions {
    width: 1200px;
    height: 990px;
    margin-left: 600px;
}

.hero2 {
    background-image: url("/assets/features.jpg");
    width: auto;
    background-size: cover;
    height: 1200px;
    position: relative;
}

.text2 {
    padding-top: 400px;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    margin-left: 65%;
}

.text2-1 {
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
}

.icon1 {
    margin-left: 57%;
}

.hero3 {
    background-image: url("/assets/requirements.png");
    width: auto;
    background-size: cover;
    height: 1200px;
    position: relative;
}

.isi-tabel {
    padding-left: 10%;
    padding-right: 50%;
}

table {
    margin-right: 500px;
}

.table-bordered th {
    border: #212226 1px solid !important;
}

.table-bordered td {
    border: #212226 1px solid !important;
}

.table-content-sys {
    max-width: 30vw !important;
}

.hero4 {
    background-image: url("/assets/top-score-bg.png");
    width: auto;
    background-size: cover;
    height: 1200px;
    position: relative;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    margin-left: 10%;
    padding-top: 5%;
    display: flex;
}

.text-center1 {
    padding: 20px;
    height: 80px;
    width: 180px;
}

.button-see-more {
    font-size: 25px;
    background-color: #ffc107;
    border: none;
    height: 80px;
    width: 180px;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 5px;
}

.text-center1 a button {
    color: black;
    font-size: 1rem;
    height: 55px;
    width: 120px;
}

.box1 {
    background-color: rgba(51, 52, 51, 0.68);
    width: 422px;
    height: 200px;
    border-radius: 3px;
    padding: 10px;
}

.hero5 {
    background-color: black;
}

.button-footer {
    font-size: 25px;
    background-color: #ffc107;
    border: none;
    height: 38px;
    width: 213.5px;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 5px;
}

.box2 {
    background-color: rgba(51, 52, 51, 0.68);
    width: 422px;
    height: 200px;
    border-radius: 3px;
    padding: 10px;
    margin-top: 75px;
    margin-left: 250px;
}

.box3 {
    background-color: rgba(51, 52, 51, 0.68);
    width: 422px;
    height: 200px;
    border-radius: 3px;
    padding: 10px;
    margin-top: 75px;
    margin-left: -5px;
}

.footer {
    background-color: black;
    height: 10vh;
    display: flex;
    align-self: center;
    justify-content: center;
}


.text-footer {
    color: white;

    margin-left: 10px;
    margin-right: 10px;
}

.rectangle {
    background-color: gray;
    width: 100%;
    height: 25px;
}