<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHALLENGE CHAPTER 4</title>
    <link rel="stylesheet" href="/style2.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="icon" href="/assets2/logo.png">
</head>
<body>
    <header>
        <div class="back">
            <h1><</h1>
        </div>
        <div class="logo">
        </div>
        <div class="judul-game">
            <h1>ROCK PAPER SCISSORS</h1>
        </div>
    </header>

    <section>
        <div class="game">
            <div class="user-choice">
                <h1 class="player-1">PLAYER 1</h1>
                <div class="used">
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="user-rock">
                        <img src="/assets2/batu.png" alt="batu">
                    </button>
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="user-paper">
                        <img src="/assets2/kertas.png" alt="kertas">
                    </button>
                    <button class="user-tool your-tool dissap" style="background-color: #9C835F; border: none;" id="user-scissors">
                        <img src="/assets2/gunting.png" alt="gunting">
                    </button>
                </div>
            </div>

            <div class="Versus-reset">
                <div class="box" id="kotak">
                    <h1 id="h1">VS</h1>
                </div>
                <div class="refresh" id="ulang">
                    <img src="/assets2/refresh.png" alt="refresh">
                </div>
            </div>

            <div class="Com-choice">
                <h1 class="playerCom">COM</h1>
                <div class="used2">
                    <button class="user-tool1 dissap" style="background-color: #9C835F; border: none;" id="com-rock">
                        <img src="/assets2/batu.png" alt="batu">
                    </button>
                    <button class="user-tool1 dissap" style="background-color: #9C835F; border: none;" id="com-paper">
                        <img src="/assets2/kertas.png" alt="kertas">
                    </button>
                    <button class="user-tool1 dissap" style="background-color: #9C835F; border: none;" id="com-scissors">
                        <img src="/assets2/gunting.png" alt="gunting">
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script src="/script.js"></script>

</body>
</html>